@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --h-header: 60px;
    }
    input,
    select {
        @apply caret-primary-dark outline-none;
    }
}

@layer components {
    .text-editor a {
        @apply text-primary-dark underline decoration-primary-dark;
    }
    .text-editor ul {
        @apply list-disc px-5;
    }

    .abc {
        @apply bg-primary-dark;
    }

    .btn2 {
        @apply flex items-center justify-center rounded text-white;
    }
    .btn2 + .btn2 {
        @apply ml-2;
    }
    .btn2.btn2-sm {
        @apply px-4 py-1.5;
    }
    .btn2.btn2-md {
        @apply min-w-[150px] px-5 py-2;
    }

    .btn2.btn2-red {
        @apply bg-red-500 hover:bg-red-400;
    }
    .btn2.btn2-blue {
        @apply bg-blue-500 hover:bg-blue-400;
    }
    .btn2.btn2-green {
        @apply bg-green-600 hover:bg-green-500;
    }
    .btn2:disabled {
        @apply pointer-events-none opacity-50;
    }

    .text-input2 {
        @apply h-9 w-full rounded-md border border-gray-400 px-3 focus-within:!border-primary hover:border-gray-500;
    }

    .text-input2.invalid {
        @apply !border-red-500;
    }

    .container {
        @apply my-0 mx-auto max-w-[1200px];
    }

    .text-input2.disabled {
        @apply !border-gray-300 !bg-gray-100;
    }

    label {
        cursor: pointer;
    }

    input[type='checkbox'] {
        height: 28px;
        width: 28px;
        border-radius: 4px;
    }
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 5px;
    }

    .btn {
        @apply flex items-center justify-center rounded text-white;
    }
    .btn + .btn {
        @apply ml-2;
    }
    .btn.btn-sm {
        @apply px-4 py-1.5;
    }
    .btn.btn-md {
        @apply min-w-[150px] px-5 py-2;
    }

    .btn.btn-red {
        @apply bg-red-500 hover:bg-red-400;
    }
    .btn.btn-blue {
        @apply bg-blue-500 hover:bg-blue-400;
    }
    .btn.btn-green {
        @apply bg-green-600 hover:bg-green-500;
    }
    .btn:disabled {
        @apply pointer-events-none opacity-50;
    }

    .text-input {
        @apply rounded border border-gray-300 px-2 text-lg outline-none hover:border-gray-500 focus:border-blue-500;
    }

    .text-input.invalid {
        @apply border-red-500;
    }

     {
        @apply my-0 mx-auto max-w-[1200px];
    }

    .text-input.disabled {
        @apply !border-gray-300 !bg-gray-100;
    }

    label {
        cursor: pointer;
    }

    input[type='checkbox'] {
        height: 28px;
        width: 28px;
        border-radius: 4px;
    }
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 5px;
    }
    .content-mobile {
        @apply !border-gray-300 !bg-gray-100;
    }
}
